@import "./metrics.scss";
@import "./media-res.scss";
@import "./header.scss";
@import "./hero-section.scss";

html {
  margin: 0 20px 20px 20px;

  @include mobile() {
    margin: 0;
  }
}

body {
  margin: 0;
}


